*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(
        135deg,
        #2d0b45,
        #5b21b6,
        #9333ea
    );
    color:#fff;
    overflow-x:hidden;
}

/* ESTRELAS */

.star{
    position:fixed;
    color:#fff;
    pointer-events:none;
    animation:subir 8s linear forwards;
    z-index:9999;
}

@keyframes subir{

    0%{
        transform:translateY(100vh);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    100%{
        transform:translateY(-100px);
        opacity:0;
    }
}

/* HEADER */

header{
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:10px;
}

/* HERO */

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:30px;
    padding:50px 20px;
}

.hero img{
    width:350px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.hero-text{
    max-width:500px;
}

.hero-text h2{
    font-size:2rem;
    margin-bottom:15px;
}

/* CONTADOR */

.counter{
    text-align:center;
    padding:50px 20px;
}

#tempo{
    margin-top:20px;
    margin-bottom: 20px;
    font-size:2rem;
    font-weight:bold;
}

/* ÁLBUM */

.album-section{
    padding:100px 20px;
    text-align:center;
    overflow:hidden;
}

.album-section h2{
    margin-bottom:50px;
    font-size:2.5rem;
    color:#f3e8ff;
}

.book-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.book{
    position:relative;
    width:420px;
    height:550px;

    perspective:3000px;
    perspective-origin:center center;

    transform-style:preserve-3d;
}

.book::before{
    content:"";

    position:absolute;
    inset:0;

    border-radius:25px;

    background:
    rgba(255,255,255,.08);

    transform:
    translateZ(-5px);

    z-index:0;
}

.page{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    border-radius:25px;
    overflow:hidden;

    background:#fff;

    transform-origin:left center;
    transform-style:preserve-3d;

    transition:
        transform 1.2s cubic-bezier(.4,0,.2,1),
        box-shadow .8s ease;

    box-shadow:
        0 15px 35px rgba(0,0,0,.35);

    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;

    will-change:transform;
}

.page:nth-child(1){z-index:8;}
.page:nth-child(2){z-index:7;}
.page:nth-child(3){z-index:6;}
.page:nth-child(4){z-index:5;}
.page:nth-child(5){z-index:4;}
.page:nth-child(6){z-index:3;}
.page:nth-child(7){z-index:2;}
.page:nth-child(8){z-index:1;}

.page img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;

    pointer-events:none;

    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
}

.page::before{
    content:"";

    position:absolute;
    inset:0;

    background:
    linear-gradient(
        to right,
        rgba(255,255,255,.18),
        transparent 25%
    );

    z-index:5;
    pointer-events:none;
}

.page:first-child::before{
    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,.4),
        transparent 40%
    );
}

.page::after{
    content:"";

    position:absolute;
    inset:0;

    background:
    linear-gradient(
        to right,
        rgba(255,255,255,.18),
        transparent 25%
    );

    z-index:5;
    pointer-events:none;
}

.page.flipped{
    transform:
        rotateY(-180deg)
        translateZ(2px);

    box-shadow:
        -10px 15px 30px rgba(0,0,0,.25);
}

.page.flipped::after{
    opacity:1;
}

/* CONTROLES DO ÁLBUM */

.controls{
    margin-top:35px;
}

.controls button{
    width:65px;
    height:65px;

    border:none;
    border-radius:50%;

    background:#8b5cf6;
    color:white;

    font-size:28px;

    cursor:pointer;

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.controls button:hover{
    transform:scale(1.1);

    box-shadow:
        0 0 20px rgba(168,85,247,.7);
}

/* MENSAGEM */

.message{
    text-align:center;
    padding:50px 20px;
}

.message p{
    max-width:700px;
    margin:20px auto;
}

.message button{
    background:#fff;
    color:#ff4d6d;
    border:none;
    padding:15px 25px;
    border-radius:30px;
    cursor:pointer;
    font-size:1rem;
    transition:.3s;
}

.message button:hover{
    transform:scale(1.1);
}

#surpresa{
    margin-top:20px;
    font-size:1.4rem;
    font-weight:bold;
}

/* RODAPÉ */

footer{
    text-align:center;
    padding:30px;
}

/* CORAÇÕES */

.heart{
    position:fixed;
    color:#fff;
    font-size:20px;
    animation:fall linear infinite;
}

@keyframes fall{

    from{
        transform:translateY(-10vh);
    }

    to{
        transform:translateY(110vh);
    }
}

/* RESPONSIVO */

@media(max-width:768px){

    header h1{
        font-size:2rem;
    }

    .hero img{
        width:90%;
    }

    .book{
        width:min(90vw,320px);
        height:min(130vw,450px);
    }

    .caption{
        font-size:1rem;
        padding:15px;
    }
}